<div>
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Bang Bang
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-6" >
                <img class="img-responsive" src="./images/BANGBANG.png" >
            </div>

            <div class="col-md-6">
                <div class="col-md-12">
                    <label>City</label>
                    <input type="text" name="city" ng-model="city">
                </div>
                <br/>
                <div class="col-md-12">
                    <label>Age</label>
                    <input type="number" min="1" max="110" name="age" ng-model="age">
                </div>
                <br/>
                <div class="col-md-12 no-padding">
                    <label class="col-md-12">Gender</label>
                    <div class="col-md-6">
                        <input style="width: 10px;" type="radio" ng-model="gender" name="gender" value="male">
                        <label>Male</label>
                    </div>
                    <div class="col-md-6">
                        <input style="width: 10px;" type="radio" ng-model="gender" name="gender" value="female">
                        <label>Female</label>
                    </div>
                    <div class="col-md-6">
                        <input style="width: 10px;" type="radio" ng-model="gender" name="gender" value="other">
                        <label>Other</label>
                    </div>
                    <div class="col-md-6">
                        <input style="width: 10px;" type="radio" ng-model="gender" name="gender" value="unspecified">
                        <label>Dont want to Disclose</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <button ng-click="next()" style="float: right;color: black;">Next</button>
            <!-- <button ng-click="next()" style="float: right;color: black;">Next</button>   -->
        </div>

        <hr>


    </div>
    <!-- /.container -->
</div>