<div>
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Your answer is {{answerStatus}}!!!
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row col-md-12" >

            <div class="col-md-6 info-image">
                <img class="img-responsive" style="height: 300px;width:auto; padding: 20px;display: block;" ng-src="{{imageUrl}}">
            </div>

            <div class="col-md-6 info-desc" >
                <br/>
                <h3>{{description}}</h3>
            </div>
            <hr/>
            <button style="float: right;" ng-click="next()">Next</button>

        </div>

        <hr>


    </div>

</div>