<div>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Situation at hand
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <h4>Priya* has not got her monthly period cycle or menstruation cycle yet. Having had sePriya with her partner in the previous month, Priya is concerned and worried. She wants Suraksha to help her with her situation.</h4>
                <br/>
                <h4>And in turn, Suraksha needs your help because she is new to your city and wants your help in understanding some finer aspects regarding sePriyaual health and your city. Could you take the time to help her out?</h4>
                <br>
                <br>
                <h4>*For reasons of anonymity, the name of the person has not been disclosed. </h4>
            </div>

        </div>
        <div class="row">
            <button ui-sref="begins" style="float: right;">Next</button>
        </div>

        <hr>

    </div>
    <!-- /.container -->
</div>