<div>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Select Subject
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
            <select style="color: black;" ng-show="subjects.length" ng-model="selectedOption" >
                <option ng-selected="true" ng-disabled="true" value="">--Select Subject--</option>
                <option ng-repeat="eachOption in subjects" ng-value="eachOption" >{{eachOption}}</option>
            </select>
        </div>
        <button ng-show="subjects.length" ng-click="next()" style="float: right;">Next</button>
        <div ng-show="loading">Loading...</div>
        <hr>


    </div>
    <!-- /.container -->
</div>